<section class="shop_section layout_padding">
    <div class="container">

        <div class="heading_container heading_center">
            <h2>
                Latest Products
            </h2>
        </div>
        <div class="row">
            {% for post in site.posts limit:8 %}

            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="box">
                    <a href="">
                        <div class="img-box">
                            <img src="{{site.baseurl}}/{{post.image}}" alt="{{page.imageText}}" />
                        </div>
                        <div class="detail-box">
                            <h6>
                                {{ post.imageText}}
                            </h6>
                            <h6>
                                Price
                                <span>
                                    {{ post.price}}
                                </span>
                            </h6>
                        </div>
                        {% if post.isNew %}
                        <div class="new">
                            <span>
                              New
                            </span>
                            {% endif %}
                        </div>
                    </a>
                </div>
            </div>

            {% endfor %}
        </div>
<!--        <div class="btn-box">-->
<!--            <a href="">-->
<!--                View All Products-->
<!--            </a>-->
<!--        </div>-->
    </div>
</section>
